.button {
  width: 100%;
  display: inline-block;
  padding: 1.15rem 2.5rem;
  background: transparent;
  position: relative;
  border: 1px solid #c4d4de38;
  border-radius: 40px;
  /* font-family: "Arial"; */
  transition: background 0.3s;
  cursor: pointer;
}

.buttonWrapper,
.text1,
.text2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text1 {
  top: 0;
  transition: top 0.5s;
}

.text2 {
  top: 100%;
  transition: top 0.5s;
  color: #000000;
}

.button:hover {
  background: #f0f0f0;
}

.button:hover .text1 {
  top: -100%;
}

.button:hover .text2 {
  top: 0;
}