.buttonWrapper {
  isolation: isolate;
}

.buttonWrapper {
  width: 100%;
}

.button {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.button {
  --border-width: 2px;
  --radius: 100px;
  width: 100%;
  position: relative;
  border-radius: var(--radius);
  /* background-color: black; */
  border: 5px solid transparent;
}

.button::before {
  content: " ";
  position: absolute;
  inset: calc(var(--border-width) * -1);
  z-index: -1;
  border: inherit;
  border-radius: inherit;
  background-image: conic-gradient(from var(--angle),
      black 80%,
      #ffd209 100%,
      #ffd209 92%,
      #ffd209 100%);
  background-origin: border-box;
  -webkit-mask: linear-gradient(black, black) content-box,
    linear-gradient(black, black);
  mask: linear-gradient(black, black), linear-gradient(black, black);
  -webkit-mask-clip: content-box, border-box;
  mask-clip: content-box, border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  animation: spin 3s linear infinite;
}

/* .button:hover::before {
  animation-play-state: paused;
} */

@property --angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

@keyframes spin {
  to {
    --angle: 1turn;
  }
}

/* another one */
/* @property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

.box {
  width: 100%;

  display: grid;
  place-content: center;
  color: white;
  text-shadow: 0 1px 0 #000;

  --main-bg: conic-gradient(from var(--border-angle), black);
  --gradient-border: conic-gradient(
    from var(--border-angle),
    transparent 25%,
    black,
    #ffd209 99%,
    transparent
  );

  border: solid 5px transparent;
  border-radius: 2em;

  background: var(--main-bg) padding-box, var(--gradient-border) border-box,
    var(--main-bg) border-box;

  background-position: center center;

  animation: bg-spin 3s linear infinite;
} */