@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'react-quill/dist/quill.snow.css';

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 45 100% 55%;
    --primary-foreground: 0 0% 0%;
    /* black for best contrast on yellow */

    --secondary: 45 100% 96%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 45 100% 96%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 45 100% 96%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 45 30% 90%;
    /* --input: 45 30% 90%; */
    --ring: 45 100% 55%;

    --radius: 0.65rem;

    --chart-1: 45 100% 55%;
    --chart-2: 35 100% 50%;
    --chart-3: 55 100% 60%;
    --chart-4: 25 100% 45%;
    --chart-5: 10 90% 50%;
    --label: 217 14% 51%;
    --label-foreground: 217 14% 51%;
    --input: 214 28% 85%;
    --input-foreground: 214 28% 85%;
    --dash: 220 14% 95%;
    --dash-foreground: 0 0% 100%;
  }

  .dark {
    --background: 240 5% 10%;
    --foreground: 45 100% 90%;

    --card: 240 5% 10%;
    --card-foreground: 45 100% 90%;

    --popover: 240 5% 10%;
    --popover-foreground: 45 100% 90%;

    --primary: 45 100% 60%;
    /* slightly brighter for dark */
    --primary-foreground: 0 0% 10%;
    /* nearly black text */

    --secondary: 240 5% 20%;
    --secondary-foreground: 45 100% 90%;

    --muted: 240 5% 20%;
    --muted-foreground: 45 50% 75%;

    --accent: 240 5% 20%;
    --accent-foreground: 45 100% 90%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 5% 20%;
    /* --input: 240 5% 20%; */
    --ring: 45 100% 60%;

    --chart-1: 45 100% 60%;
    --chart-2: 35 100% 55%;
    --chart-3: 55 100% 65%;
    --chart-4: 25 100% 50%;
    --chart-5: 10 90% 55%;
    --label: 217 14% 51%;
    --label-foreground: 217 14% 51%;
    --input: 214 28% 85%;
    --input-foreground: 214 28% 85%;
    --dash: 0 0% 0%;
    --dash-foreground: 240 5% 10%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.app-background {
  @apply bg-gradient-to-br from-blue-800 via-slate-900 to-slate-900 text-white;
}

.app-background_light {
  @apply bg-gradient-to-br from-blue-500/50 via-blue-700/90 to-blue-900/100 text-white;
}

::-webkit-scrollbar {
  height: 8px;
  width: 3px;
  border-radius: 13px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 13px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #10172A;
  width: 3px;
  border-radius: 13px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #10172A;
}

.container-padding {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.container-padding-sm {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.gradientBackground {
  background: linear-gradient(180deg, rgba(255, 195, 27, 0.15) 0%, rgba(0, 0, 0, 0.04) 100%);
}

.typography_1 {
  color: #FFF;
  font-size: 1.315rem;
  font-style: normal;
  font-weight: 350;
  line-height: 1.2rem;
}

@media (min-width: 640px) {
  .container-padding {
    padding-left: 1.69rem;
    padding-right: 1.69rem;
  }

  .container-padding-sm {
    padding-left: 1.69rem;
    padding-right: 1.69rem;
  }
}

@media (min-width: 768px) {
  .container-padding {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .container-padding-sm {
    padding-left: 1.69rem;
    padding-right: 1.69rem;
    /* Tailwind's gray-200 */
  }
}

@media (min-width: 1024px) {
  .container-padding {
    padding-left: 8.69rem;
    padding-right: 8.69rem;
  }

  .container-padding-sm {
    padding-left: 3.69rem;
    padding-right: 3.69rem;
    /* Tailwind's gray-200 */
  }
}

@media (min-width: 1280px) {
  .container-padding {
    padding-left: 14.69rem;
    padding-right: 14.69rem;
  }

  .container-padding-sm {
    padding-left: 10rem;
    padding-right: 10rem;
    /* Tailwind's gray-200 */
  }
}

@media (min-width: 1536px) {
  .container-padding {
    padding-left: 14.69rem;
    padding-right: 14.69rem;
  }
}

@font-face {
  font-family: 'Mona Sans';
  src: url('/fonts/mona-sans/MonaSans-Regular.woff2') format('woff2'),
    url('/fonts/mona-sans/MonaSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.blur-mask {
  -webkit-mask-image: radial-gradient(circle at center, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
  mask-image: radial-gradient(circle at center, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
  mask-repeat: no-repeat;
  mask-size: cover;
}

.blur-mask-bottom {
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}


.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}